<h1>Reglamento General</h1>

<h3>Políticas Generales</h3>
<p>Cada uno de los puntos contenidos en este reglamento servirá de apoyo para la formación integral. Los valores de respeto como la pulcritud, cordialidad y el trabajo son la base que norma la conducta de todos los integrantes de la Institución.</p>
<ol>
    <li>Cada alumna de este plantel es responsable de su propia educación.</li>
    <li>Son derechos de las alumnas:</li>
    <ol>
        <li>Respeto a la integridad fisica.</li>
        <li>Libre expresión de ideas siempre y cuando no dañe a otro miembro de la comunidad escolar.</li>
        <li>Que se le de a conocer con oportunidad reglamentos, horarios y programas académicos para que pueda cumplir con éstos.</li>
        <li>Ser acreedoras al reconocimiento oficial de sus estudios.</li>
        <li>Apelar a autoridades superiores en la escuela cuando haya sanciones improcedentes.</li>
    </ol>
    <li>Son deberes de las alumnas:</li>
    <ol>
        <li>El conocimiento y observancia de este reglamento.</li>
        <li>El respeto a la integridad física y moral de cada miembro de FIM I.A.P.</li>
        <li>Acatar las disposiciones de profesores y directivos.</li>
        <li>Acatar las disposiciones para el uso y resguardo de instalaciones, equipos y muebles.</li>
        <li>Presentarse digna y pulcramente vestidas, ya que proyectan la imagen del alumnado en la comunidad, deberán evitar el desaliño y lo estrafalario. El modo de vestir debe ser apropiado.</li>
        <li>Modo de vestir apropiado, evitar prendas como minifaldas, shorts, ombligueras, mallones, escotes pronunciados o perforaciones ostentosas.</li>
        <li>Queda estrictamente prohibido el uso de celulares a la hora de clases. De caer en esta falta, se les recogerá el celular hasta terminar las clases y en caso de reincidir se castigará por una semana en la dirección.</li>
        
    </ol>
    <li>Recesos: <br/> <strong>Preparatoria.-</strong> se suspende el receso de 10 A.M. a 11 A.M. de los sábados, las clases serán de 1:20 horas, y tendrán 10 minutos para ir al baño y tomar un pequeño refrigerio.<br/> <strong>Primaria y Secundaria.-</strong> el receso lo tendrán a las 10:45 A.M.(turno matutino) y a las 5:45 P.M.(turno vespertino) será de 15 minutos. <br/><em> Las alumnas podrán traer un pequeño refrigerio, ya que no se les permitirá salir de la Institución a comprar el mismo.</em></li>
</ol>

<h3>Políticas Administrativas</h3>
<ol>
    <li> Las alumnas deberán estar formalmente inscritas para recibir todos los derechos que otorga el reglamento.</li>
    <li>Cualquier documento administrativo que la alumna requiera, como constancias de estudio entre otros, deberán solicitarse con tres días hábiles de anticipación.</li>
    <li>Se les informará a los padres de familia de cualquier emergencia médica del alumnado, en caso de no poder comunicarse con ellos, la institución tomará la responsabilidad de implementar las medidas necesarias para su pronta atención.</li>
    <li>Las alumnas deberán notificar a la administración cualquier cambio en sus datos como domicilio y teléfono, a la mayor brevedad.</li>
    <li>Para presentar exámenes, las alumnas deberán haber cubierto su mensualidad y llenar la solicitud correspondiente.</li>
</ol>

<h3>Reglamento de Disciplina</h3>
<ol>
    <li>Ña falta de respeto será sancionada con la <strong>suspensión temporal</strong> de la institución.</li>
    <li>Las faltas que dañen la integridad física o moral de cualquier miembro de la comunidad, o que dañen instalaciones de la institución, serán sancionadas con la <strong>suspensión indefinida.</strong>. Si la falta se lleva a cabo dentro del salón de clases, la alumna deberá abandonarla inmediatamente.</li>
    <li>No se concederá autorización para salir a atender asuntos personales durante las clases.</li>
    <li>La alumna que impida el desarrollo satisfactorio de las clases, será suspendida y se hará acreedora de un reporte disciplinario.</li>
    <li>En caso de suspensión de alguna clase, la alumna sólo podrá regresar hasta que solucione el problema con la asesora correspondiente.</li>
    <li>La alumna que ocasione daños a las instalaciones del plantel, deberá cubrir el monto de su reparación o reposición según se lo indique la administración, así como asumir la sanción por la falta cometida.</li>
    <li>Tres faltas de disciplina implican un reporte, los cuales pueden ser generados por los profesores.</li>
    <li>Un segundo reporte asignado a una alumna, amerita la suspensión de una semana.</li>
    <li>Formación Integral de la Muer I.A.P. se reserva la decisión de suspender definitivamente a quien considere justo después de haber notificado a la alumna en cuestión.</li>
</ol>

<h3>Reglamento Académico</h3>
<h4>Acerca de las Clases</h4>
<ol>
    <li>Las clases que se imparten están estipuladas en el calendario y horarios oficiales de la institución, por lo tanto no hay suspensión de labores.</li>
    <li>Los profesores no darán tiempo de sus clases para que los estudiantes preparen trabajos o exámenes de otras materias.</li>
</ol>


<h4>Acerca de exámenes y Calificaciones</h4>
<ol>
    <li>La acreditación y calificación de exámenes son competencia exclusiva de la SEP y del órgano del INEA según corresponda.</li>
    <li>Las calificaciones una vez entregadas a la institución se darán a conocer a las alumnas por medio de las asesoras para el caso de primaria y secundaria. En lo que respecta a preparatoria es imprescindible hacer entrega de la hoja rosa a gestoría, quien será la encargada de mostrar las calificaciones a las alumnas.</li>
    <li>Para tener derecho a examen, deberá de estar al corriente en las colegiaturas y haber hecho la solicitud de examen de manera oportuna.</li>
</ol>

<h4>Acerca de Cuotas y Pagos</h4>
<ol>
    <li>La mensualidad deberá cubrirse en los primeros 15 días del mes en primaria y secundaria y en los primeros dos sábados de cada mes en preparatoria. A partir del día 16 se aumentará $10.00 pesos la cuota mensual.</li>
    <li>Si dejara de asistir después de 3 meses, se le dará de baja y al reingresar deberá pagar otra vez la inscripción en caso de primaria y secundaria y en preparatoria deberá pagar un mes extra.</li>
</ol>

