      
   
   <body>   
      <div class="page-flexbox-wrapper">
         <div class="navbar-fixed">
            <nav class="white z-depth-2" role="navigation">
               <div class="nav-wrapper container">
                  <a id="logo-container" href="index.php" class="brand-logo waves-effect waves-light pinkFim-text ">FIM</a>
                  <ul class=" right hide-on-med-and-down ">
                     
                     <li class="<?php if ($selected == 'nosotros') echo ' active'; ?>"><a href="index.php" class="waves-effect waves-light pinkFim-text">Nosotros</a></li>
                     <li class="<?php if ($selected == 'programas') echo ' active'; ?>"><a href="programas.php" class="waves-effect waves-light pinkFim-text">Talleres</a></li>
                     <li class="<?php if ($selected == 'galeria') echo ' active'; ?>"><a href="galeria.php" class="waves-effect waves-light pinkFim-text">Galería</a></li>
                     <li class="<?php if ($selected == 'noticias') echo ' active'; ?>"><a href="noticias.php" class="waves-effect waves-light pinkFim-text">Noticias</a></li>
                     <li class="<?php if ($selected == 'donar') echo ' active'; ?>"><a href="donar.php" class="waves-effect waves-light pinkFim-text">Donar</a></li>
                     <li class="<?php if ($selected == 'contacto') echo ' active'; ?>"><a href="contacto.php" class="waves-effect waves-light pinkFim-text">Contacto</a></li>
                  </ul>
                  <ul id="nav-mobile" class="side-nav fim-z">
                     <li class="<?php if ($selected == 'nosotros') echo ' active'; ?>"><a href="index.php" class="waves-effect blueFim-text"><i class="material-icons right pinkFim-text lighten-2">info</i>Nosotros</a></li>
                     <li class="<?php if ($selected == 'programas') echo ' active'; ?>"><a href="programas.php" class="waves-effect blueFim-text"><i class="material-icons right pinkFim-text lighten-2">class</i>Talleres</a></li>
                     <li class="<?php if ($selected == 'galeria') echo ' active'; ?>"><a href="galeria.php" class="waves-effect blueFim-text"><i class="material-icons right pinkFim-text lighten-2">view_carousel</i>Galería</a></li>
                     <li class="<?php if ($selected == 'noticias') echo ' active'; ?>"><a href="noticias.php" class="waves-effect blueFim-text"><i class="material-icons right pinkFim-text lighten-2">new_releases</i>Noticias</a></li>
                     <li class="<?php if ($selected == 'donar') echo ' active'; ?>"><a href="donar.php" class="waves-effect blueFim-text"><i class="material-icons right pinkFim-text lighten-2">payment</i>Donar</a></li>
                     <li class="<?php if ($selected == 'contacto') echo ' active'; ?>"><a href="contacto.php" class="waves-effect blueFim-text"><i class="material-icons right pinkFim-text lighten-2">contacts</i>Contacto</a></li>
                  </ul>
                  <a href="#" data-activates="nav-mobile" class="pinkFim-text button-collapse"><i class="material-icons">menu</i></a>
               </div>
            </nav>
         </div>
      <main>
      
      
      
      


