 
    <!-- starts content  -->
    <div class="content administrativo"> 
        <div class="administrativo">
            <h5><strong>Acceso a Tecnología </strong></h5>
        </div>
        <div><br><br></div>
    <div class="row">
    
  </div>
       </div>       
    <!-- ends content -->   