  
    <!-- starts content  -->
    <div class="content administrativo"> 
        <div class="administrativo">
            <h5><strong>Historial Académico </strong></h5>
        </div>
        <div><br><br></div>
    <div class="row">
    
        <div><br><br></div>
        <div align="right">
            <input class="btn waves-effect waves-light btn-large enviar_y_guardar" type="submit" value="Guardar">
        </div>
    </form>
  </div>
       </div>       
    <!-- ends content -->   