    <!-- starts content  -->
    <div class="content administrativo"> 
        <div class="administrativo">
            <h5><strong>Registro de Beneficiaria </strong></h5>
        </div>
        <div><br><br></div>
        <form class="col s12" action="registro_alumna1.php" method="POST" enctype="multipart/form-data" >
  
  
        <div class="row">
            
            <fieldset>

                <div class="administrativo">
                    <h5><strong>Información Personal </strong></h5>
                </div>
                <div><br><br></div>
    
    
         
                <div class="row">
                    <div class="input-field col s6">
                       <input required placeholder="Nombre(s)" id="first_name" name="first_name" type="text" class="validate" >
                      <label for="first_name">   </label>
                    </div>
                    <div class="input-field col s6">
                       <input required placeholder="Apellido(s)" id="last_name" name="last_name" type="text" class="validate"  >
                      <label for="last_name">   </label>
                    </div>
                </div>
          
                
                <div class="row">
                    <div class="input-field col s4">
                       <input required placeholder="Calle y número" id="calle_numero" name="calle_numero" type="text" class="validate"  >
                      <label for="calle_numero">   </label>
                    </div>
                    <div class="input-field col s4">
                       <input required placeholder="Colonia" id="colonia" name="colonia" type="text" class="validate"  >
                      <label for="colonia">   </label>
                    </div>
                    <div class="input-field col s4">
                      <select id="municipio" name="municipio"  >
                            <option value="" disabled selected>Elige una opción</option>
                            <option value="Amealco">Amealco</option>
                            <option value="Pinal de Amoles">Pinal de Amoles</option>
                            <option value="Arroyo Seco">Arroyo Seco</option>
                            <option value="Cadereyta">Cadereyta</option>
                            <option value="El pueblito">El pueblito</option>
                            <option value="Ezequiel Montes">Ezequiel Montes</option>
                            <option value="Huimilpan">Huimilpan</option>
                            <option value="Jalpan de Serra">Jalpan de Serra</option>
                            <option value="Landa de Matamoros">Landa de Matamoros</option>
                            <option value="El Marqués">El Marqués</option>
                            <option value="Pedro Escobedo">Pedro Escobedo</option>
                            <option value="Peñamiller">Peñamiller</option>
                            <option value="Querétaro">Querétaro</option>
                            <option value="San Joaquín">San Joaquín</option>
                            <option value="San Juan del Río">San Juan del Río</option>
                            <option value="Tequisquiapan">Tequisquiapan</option>
                            <option value="Tolimán">Tolimán</option>
                            <option value="Colón">Colón</option>
                        </select>
                        <label>Municipio</label>
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="input-field col s4">
                       <input maxlength="5" required placeholder="Código Postal" id="cp" name="cp" type="tel" class="validate"  >
                      <label for="cp"> Código Postal  </label>
                    </div>
                    <div class="input-field col s4">
                       <input required placeholder="Ocupación" id="ocupacion" name="ocupacion" type="text" class="validate"  >
                      <label for="ocupacion"> Ocupación  </label>
                    </div>
                    <div class="input-field col s4">
                        <select name="estado_civil"  >
                            <option value="" disabled selected>Elige una opción</option>
                            <option value="Casada">Casada</option>
                            <option value="Soltera">Soltera</option>
                            <option value="Viuda">Viuda</option>
                            <option value="Divorciada">Divorciada</option>
            
                        </select>
                        <label>Estado Civil</label>
                    </div>
                </div>
      
                <div class="row">
                        <div class="input-field col s6">
                        Fecha de nacimiento:
                           <input required type="date" class="datepicker" id="fecha_nac" name="fecha_nac_alumna"  >
                        </div>
                </div>
      
                <div class="row">
                    <div class="input-field col s4">
                     <input maxlength="10" required placeholder="Teléfono" id="telefono_casa" name="telefono_casa_alumna" type="tel" class="validate"  >
                    <label for="telefono_casa">   </label>
                    </div>
                    <div class="input-field col s4">
                     <input maxlength="10" required placeholder="celular" id="celular" name="celular" type="tel" class="validate"  >
                    <label for="celular">   </label>
                    </div>
                    <div class="input-field col s4">
                        <select name="genero_alumna"  >
                          <option value="" disabled selected>Elige una opción</option>
                          <option value="Hombre">Hombre</option>
                          <option value="Mujer">Mujer</option>
                        </select>
                        <label>Género</label>
                    </div>
                </div>
        
                <div class="row">
                <div class="input-field col s6">
                    Estatus de alumna:
                    <select name="estatus_fim"  >
                          <option value="" disabled selected>Elige una opción</option>
                          <option value="Dada de alta" selected>Dada de alta</option>
                          <option value="Dada de Baja">Dada de Baja</option>
                    </select>            
                </div>
                <div class="input-field col s6">
                        
                         <input required id="enteraste" name="enteraste" type="text" class="validate"  >
                        <label for="enteraste">Como te enteraste de FIM: </label>
              
                  </div>
                </div>
         

                <div class="row">
                    <div class="input-field col s4">
                         <input required id="nombre_emergencia" name="nombre_emergencia" type="text" class="validate"  >
                        <label for="nombre_emergencia">Nombre de contacto de emergencia:</label>
                    </div>
                    <div class="input-field col s4">
                        
                         <input maxlength="10" required id="emergencia_tel" name="emergencia_tel" type="tel" class="validate"  >
                        <label for="emergencia_tel"> Telefono de contacto  </label> 
                    </div>
                </div>
                
                <div><br><br></div>
                <!--<div class="row col s12 ">
                         <input  type="submit" value="Guardar datos" class=" center btn waves-effect waves-light pinkFim lighten-2 white-text col s3  btn-large enviar_y_guardar">
                </div>
        </form>-->
        </fieldset>
        </div>
        <div><br><br></div>
        <div><br><br></div>
        <fieldset>
        <div class="administrativo">
            <h5><strong> Historial Académico </strong></h5>
        </div>
        <div><br><br></div>
        <div class="row">
           <!-- <form class="col s12" action="registro_alumna2.php" method="POST" enctype="multipart/form-data" >
             -->
                <div class="row">
                    <div class="input-field col s4">
                        <select id = "grado_estudios" name = "grado_estudios">
                          <option value="" disabled selected>Elige una opción</option>
                          <option value="Primaria">Primaria</option>
                          <option value="Secundaria">Secundaria</option>
                            <option value="Preparatoria">Preparatoria</option>
                            <option value="Carrera tecnica">Carrera técnica</option>
                            <option value="Ninguno">Ninguno</option>
                        </select>
                        <label>Grado de estudios:</label>
                    </div>
                    <div class="input-field col s4">
                        <select name="estatus_escolaridad"  >
                          <option value="" disabled selected>Elige una opción</option>
                          <option value="Terminada">Terminada</option>
                          <option value="Trunca">Trunca</option>
                            <option value="Ninguna">Ninguna</option>
                        </select>
                        <label>Estatus de estudios:</label>
                    </div>
                    <div class="input-field col s4">
                         <input maxlength="4" id="anio_suspension" name="anio_suspension" type="tel" class="validate"  >
                        <label for="anio_suspension">Año en que suspendió estudios:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                         <input  id="motivo_susp" name="motivo_susp" type="text" class="validate"  >
                        <label for="motivo_susp">Motivo de suspensión de estudios:</label>
                    </div>
                    <div class="input-field col s4">
                         <input id="otros_estudios" name="otros_estudios" type="text" class="validate"  >
                        <label for="otros_estudios">Otros estudios:</label>
                    </div>
                </div>
         
                
                <div><br><br></div>
                <!--<div class="row col s12 ">
                         <input  type="submit" value="Guardar datos" class=" center btn waves-effect waves-light pinkFim lighten-2 white-text col s3  btn-large enviar_y_guardar">
                    </div>
            </form>-->
        </div>
        </fieldset>
        <div><br><br></div>
        
        
        <fieldset>    
        <div class="administrativo">
            <h5><strong> Información laboral </strong></h5>
        </div>
        <div><br><br></div>
        
        <div class="row">
           <!-- <form class="col s12" action="registro_alumna3.php" method="POST" enctype="multipart/form-data" >
         -->
                <div class="row">
                    <div class="input-field col s4">
                         <input  id="empresa" name="empresa" type="text" class="validate"  >
                        <label for="empresa">Empresa:</label>
                    </div>
                    <div class="input-field col s4">
                         <input  id="puesto" name="puesto" type="text" class="validate"  >
                        <label for="puesto">Puesto:</label>
                    </div>
                        <div class="input-field col s4">
                         <input maxlength="4" id="antiguedad" name="antiguedad" type="tel" class="validate"  >
                        <label for="antiguedad">Año de ingreso:</label>
                    </div>
                </div>
    
            
            <div><br><br></div>
            <!--<div class="row col s12 ">
                     <input  type="submit" value="Guardar datos" class=" center btn waves-effect waves-light pinkFim lighten-2 white-text col s3  btn-large enviar_y_guardar">
                </div>
            </form>-->
        </div>
        </fieldset>
        <div><br><br></div>

 
        <div><br><br></div>
        <fieldset>
        <div class="administrativo">
            <h5><strong> Herramientas Tecnológicas </strong></h5>
        </div>
        
                
        <div class="row">
           <!-- <form class="col s12" action="registro_alumna4.php" method="POST" enctype="multipart/form-data" >
            -->
            <div class="input-field col s4">
                <select id="acceso_it" name = "acceso_it">
                  <option value="" disabled selected>Elige una opción</option>
                  <option value="Si">Si</option>
                  <option value="No">No</option>
                </select>
                <label>Cuenta con acceso a internet:</label>
            </div>

            <div class="input-field col s4">
                <select multiple id="herramientas" name="herramientas"  >
                  <option value="" disabled selected>Elige una opción</option>
                  <option value="Microsoft Word">Microsoft Word</option>
                  <option value="Microsoft Excel">Microsoft Excel</option>
                    <option value="Microsoft Power Point">Microsoft Power Point</option>
                    <option value="Correo electrónico">Correo electrónico</option>
                    <option value="Ninguno">Ninguno</option>
                </select>
                <label>Herramientas que domina:</label>
            </div>
        </div>
            <div><br><br></div>
            <!--<div class="row col s12 ">
                     <input  type="submit" value="Guardar datos" class=" center btn waves-effect waves-light pinkFim lighten-2 white-text col s3  btn-large enviar_y_guardar">
                </div>
            </form>-->

        
        </fieldset>
        <div><br><br></div>
        
         
        <div><br><br></div>
        <fieldset>
        <div class="administrativo">
            <h5><strong> Situación Económica-Familiar </strong></h5>
        </div>
        <div><br><br></div>

        <div class="row">
            <!--<form class="col s12" action="registro_alumna5.php" method="POST" enctype="multipart/form-data" >
            -->
            <div class="row">
                <div class="input-field col s6">
                    <select id="vivienda_compartida" name = "vivienda_compartida"  >
                      <option value="" disabled selected>Elige una opción</option>
                      <option value="Padres">Padres</option>
                      <option value="Cónyuge">Cónyuge</option>
                        <option value="Sola">Sola</option>
                        <option value="Otros">Otros</option>
                    </select>
                    <label>Vivienda compartida:</label>
                </div>

            </div>
            <div class="row">
                <div class="input-field col s4">
                     <input  id="responsable_pago" name="responsable_pago" type="text" class="validate"  >
                    <label for="responsable_pago">Nombre del responsable de pago:</label>
                </div>
                <div class="input-field col s4">
                     <input  id="parentesco" name="parentesco" type="text" class="validate"  >
                    <label for="parentesco">Parentesco del responsable:</label>
                </div>
                <div class="input-field col s4">
                    <select name = "situacion_v" id="situacion_v" >
                      <option value="" disabled selected>Elige una opción</option>
                      <option value="Patrimonio Familiar">Patrimonio Familiar</option>
                      <option value="Compartida">Compartida</option>
                        <option value="Comodato">Comodato</option>
                        <option value="Rentada">Rentada</option>
                        <option value="Otro">Otro</option>
                    </select>
                    <label>Situación de vivienda: </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <select name="fuente_ingresos" id="fuente_ingresos" >
                      <option value="" disabled selected>Elige una opción</option>
                      <option value="Padres">Padres</option>
                      <option value="Cónyugue">Cónyugue</option>
                        <option value="Yo misma">Yo misma</option>
                        <option value="Hermanos">Hermanos</option>
                        <option value="Otro">Otro</option>
                    </select>
                    <label>Fuente de ingresos: </label>
                </div>
                <div class="input-field col s4">
                    <select multiple name="servicios" id="servicios" >
                      <option value="" disabled selected>Elige una opción</option>
                      <option value="Agua">Agua</option>
                      <option value="Luz">Luz</option>
                        <option value="Teléfono">Teléfono</option>
                        <option value="Internet">Internet</option>
                        <option value="Computadora">Computadora</option>
                        <option value="Auto">Auto</option>
                    </select>
                    <label>Servicios con los que cuenta: </label>
                </div>
                <div class="input-field col s4">
                     <input  id="ingresos" name="ingresos" type="number" class="validate"  >
                    <label for="ingresos">Monto mensual de ingresos:</label>
                </div>
            </div>
         
            <div><br><br></div>
            <div class="row col s12 ">
                <button class="btn-large blueFim enviar_y_guardar right" type="submit" name="action"> 
                    <i class="material-icons right">send</i> Guardar Datos
                </button>
            </div>
            </fieldset>
            
            
            </form>
            
       
         </div>
         
         <div><br><br></div>
