    <!-- starts content  -->
    <div class="content administrativo"> 
      <h1><strong>Publicar Noticia </strong></h1>
        <div class="row">
            <form class="col s12" action="<?php echo htmlspecialchars($_SERVER['PHP_SELF']);?>" method="POST" enctype="multipart/form-data">
              <fieldset>
                <div class="row">
                  <div class="input-field col s6">
                    <input id="titulo_noticia" name="titulo_noticia" value='<?php echo $titulonoticia; ?>' type="text" class="validate" required>
                    <label for="titulo_noticia"> Título de noticia: (obligatorio) </label>
                  </div>
                </div>
            
                 <div class="row">
                  <div class="input-field col s12">
                    <textarea id="contenidonoticia" name="contenidonoticia">  </textarea>
                    <label for="contenidonoticia">Contenido de noticia (obligatorio):</label>
                  </div>
                </div>
                
                <div class="row">
                  <div class="file-field input-field col s11">
                    <div class="btn blueFim">
                      <span> Imagen (opcional) </span>
                      <input type="file" id="imagennoticia" name="imagennoticia">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" id="nombrearchivo" name="nombrearchivo">
                    </div>
                  </div>
                  <div class="col s1">
                      <a class="btn-floating waves-yellow red" id="descartarImagen"><i class="material-icons">cancel</i></a>
                  </div>
                </div>

                <div class="input-field col s12" id='ocultardescripcion'>
                    <input placeholder="Descripción" id="descripcionimagen" name="descripcionimagen" type="text">
                    <label for="descripcionimagen">Descripción de imagen (opcional) </label>
                </div>
              </fieldset>
              <br>
                <button class="btn blueFim btn-large enviar_y_guardar right" type="submit" name="action"> <i class="material-icons right">send</i> Publicar noticia
                </button>
          </form>
        </div>
    </div>  
    
    
    
    <script type="text/javascript"> CKEDITOR.replace( 'contenidonoticia', {
          on: {
              instanceReady: function( ev ) {
                var dtd = CKEDITOR.dtd;
                for ( var e in CKEDITOR.tools.extend( {}, 
                    dtd.$block, 
                    dtd.$listItem, 
                    dtd.$tableContent ) 
                ) {
                      this.dataProcessor.writer.setRules( e, {
                      indent: false,
                      breakBeforeOpen: false,
                      breakAfterOpen: false,
                      breakBeforeClose: false,
                      breakAfterClose: false
                  });
                }
              }
          }
      });
    </script>
    
    <script type="text/javascript"> CKEDITOR.instances.contenidonoticia.setData('<?php echo $contenido;?>');</script>
    

    <!-- ends content -->   