
  
    <!-- starts content  -->
    <div class="content administrativo"> 
        <div class="administrativo">
            <h5><strong>Bienvenid@, Usuario! </strong></h5>
            <h5>Seleccionar la función requerida en el menú de la izquierda</h5>
        </div>
        <div><br><br></div>
    
  
       </div>       
    <!-- ends content -->   